*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    font-size: 15px;
    
}

body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    height:100vh;
    /* background-color : hsl(218, 44%, 22%);
    background-color : hsl(216, 15%, 48%); */
}

img {
    
    width:225px;
    border-radius: 7px;
}

h4 {
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 5px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color : hsl(216, 15%, 48%);
}

.attribution {
    padding-top: 20px;
    text-align: center;
}

.container {
    display: flex;
    vertical-align: middle;
    background-color: white;
    width: 250px;
    margin: auto; 
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 375px) {
    body {
        height: 50vh;
    }
}
